
<% layout('layouts/boilerplate')%>
<h1><%= cadastro.cadastroNome %></h1>
<ul>
    <li>Nome: <%= cadastro.cadastroNome %></li>
    <li>CPF: <%= cadastro.cadastroCpf %></li>
    <li>Email: <%= cadastro.cadastroEmail %></li>
    <li>Celular: <%= cadastro.cadastroCelular %></li>
</ul>
    
<a href="/cadastros/<%= cadastro._id %>/edit">Editar</a>    

<a href="/cadastros">Voltar</a>    

<form action="/cadastros/<%= cadastro._id%>?_method=DELETE" method="POST">
    <button>Delete</button>
</form>